In [84]:
# Imorting librariess
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [85]:
# creating a DataFrame object from a csv file
weather = pd.read_csv('weather.csv', encoding = 'latin_1')
weather #peaking at the first and last 5 rows

,Location,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,"Melbourne (Olympic Park), Victoria",1/11/2022,8.5,13.3,3.0,NaN,NaN,SW,44.0,11:36,...,NaN,NW,13,991.3,13.2,59.0,NaN,WNW,11.0,991.5
1,"Melbourne (Olympic Park), Victoria",2/11/2022,6.9,15.7,2.8,NaN,NaN,SSW,43.0,11:33,...,NaN,W,9,1006.7,15.1,54.0,NaN,SSW,13.0,1008.4
2,"Melbourne (Olympic Park), Victoria",3/11/2022,9.1,15.4,0.4,NaN,NaN,SSW,31.0,8:07,...,NaN,SSW,9,1019.2,13.8,67.0,NaN,SSW,9.0,1021.3
3,"Melbourne (Olympic Park), Victoria",4/11/2022,10.2,17.8,0.2,NaN,NaN,S,24.0,14:50,...,NaN,WSW,6,1028.1,16.9,56.0,NaN,SW,9.0,1026.6
4,"Melbourne (Olympic Park), Victoria",5/11/2022,11.8,22.7,0.0,NaN,NaN,N,31.0,11:58,...,NaN,N,9,1026.3,18.8,65.0,NaN,SW,11.0,1023.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,"Melbourne (Olympic Park), Victoria",20/04/2023,7.8,18.5,0.0,NaN,NaN,SSW,17.0,12:47,...,NaN,NNE,7,1026.8,17.5,58.0,NaN,SW,4.0,1025.5
171,"Melbourne (Olympic Park), Victoria",21/04/2023,11.3,19.0,0.0,NaN,NaN,SSW,13.0,10:48,...,NaN,NE,6,1030.5,18.6,64.0,NaN,SSE,2.0,1029.2
172,"Melbourne (Olympic Park), Victoria",22/04/2023,14.6,19.2,0.0,NaN,NaN,SSW,22.0,16:09,...,NaN,SW,6,1031.9,18.8,64.0,NaN,SSW,11.0,1029.7
173,"Melbourne (Olympic Park), Victoria",23/04/2023,14.8,19.0,0.0,NaN,NaN,SSW,26.0,15:45,...,NaN,SSE,7,1034.4,17.8,71.0,NaN,SSW,13.0,1032.4
174,"Melbourne (Olympic Park), Victoria",24/04/2023,11.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NE,9,1032.5,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#checking dimensions of the DataFrame
weather.shape

(175, 22)

In [87]:
#to further work with column headings, removing extra white spaces
# weather.rename(str.strip, axis='columns', inplace=True)
weather.columns = weather.columns.str.strip()

# checking missing valyes by columns
weather.isnull().sum()

Location                               0
Date                                   0
Minimum temperature (°C)               0
Maximum temperature (°C)               1
Rainfall (mm)                          0
Evaporation (mm)                     175
Sunshine (hours)                     175
Direction of maximum wind gust         1
Speed of maximum wind gust (km/h)      1
Time of maximum wind gust              1
9am Temperature (°C)                   0
9am relative humidity (%)              0
9am cloud amount (oktas)             175
9am wind direction                     0
9am wind speed (km/h)                  0
9am MSL pressure (hPa)                 0
3pm Temperature (°C)                   1
3pm relative humidity (%)              1
3pm cloud amount (oktas)             175
3pm wind direction                     1
3pm wind speed (km/h)                  1
3pm MSL pressure (hPa)                 1
dtype: int64

In [88]:
# We have found that values are completely missing in 'Evaporation (mm)', 'Sunshine (hours)', 
# '9am cloud amount (oktas)' and '3pm cloud amount (oktas)' so we can drop them 
weather.drop(columns=['Evaporation (mm)', 'Sunshine (hours)', '9am cloud amount (oktas)', '3pm cloud amount (oktas)'], inplace=True)

In [89]:
#checking missing values by rows
weather.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
170    0
171    0
172    0
173    0
174    9
Length: 175, dtype: int64

In [90]:
# row 174 contains 9 missing values, so it is relatively safe to drop it
weather.drop(index=174, inplace=True)

In [91]:
# checking how many more missing values 
weather.isnull().values.sum()     #No more missing data

0

In [92]:
# All values in 'Location' column seem identical, checking this assumption
weather['Location'].unique()

array(['Melbourne (Olympic Park), Victoria'], dtype=object)

In [93]:
# now we can drop the 'Location' column
weather.drop(columns=['Location'], inplace=True)

In [94]:
#checking dtypes in each column
weather.dtypes

Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am relative humidity (%)              int64
9am wind direction                    object
9am wind speed (km/h)                 object
9am MSL pressure (hPa)               float64
3pm Temperature (°C)                 float64
3pm relative humidity (%)            float64
3pm wind direction                    object
3pm wind speed (km/h)                float64
3pm MSL pressure (hPa)               float64
dtype: object

In [95]:
# '9am wind speed (km/h)' values are object dtype as opposed to expected numeric;
# checking unique values of the column
weather['9am wind speed (km/h)'].unique()

array(['13', '9', '6', '4', '15', '17', '11', '7', '24', '19', '22', '20',
       '2', 'Calm'], dtype=object)

In [96]:
# Beaufort Wind Scale: 'Calm' equals to approx 0 km/h, replacing the value with numeric
weather['9am wind speed (km/h)'] = weather['9am wind speed (km/h)'].replace(['Calm'], '0')
# converting this column and '9am relative humidity (%)' column to float for consistency
weather = weather.astype({'9am wind speed (km/h)':'float', '9am relative humidity (%)':'float'})
weather.dtypes

Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am relative humidity (%)            float64
9am wind direction                    object
9am wind speed (km/h)                float64
9am MSL pressure (hPa)               float64
3pm Temperature (°C)                 float64
3pm relative humidity (%)            float64
3pm wind direction                    object
3pm wind speed (km/h)                float64
3pm MSL pressure (hPa)               float64
dtype: object

In [97]:
# Seting the DataFrame index using Date column
weather = weather.set_index('Date')
weather

,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),9am relative humidity (%),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
Date,,,,,,,,,,,,,,,,
1/11/2022,8.5,13.3,3.0,SW,44.0,11:36,12.0,64.0,NW,13.0,991.3,13.2,59.0,WNW,11.0,991.5
2/11/2022,6.9,15.7,2.8,SSW,43.0,11:33,11.0,65.0,W,9.0,1006.7,15.1,54.0,SSW,13.0,1008.4
3/11/2022,9.1,15.4,0.4,SSW,31.0,8:07,11.5,70.0,SSW,9.0,1019.2,13.8,67.0,SSW,9.0,1021.3
4/11/2022,10.2,17.8,0.2,S,24.0,14:50,12.3,84.0,WSW,6.0,1028.1,16.9,56.0,SW,9.0,1026.6
5/11/2022,11.8,22.7,0.0,N,31.0,11:58,14.0,78.0,N,9.0,1026.3,18.8,65.0,SW,11.0,1023.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19/04/2023,14.4,17.5,1.2,SW,28.0,11:32,14.8,66.0,WSW,9.0,1022.0,15.8,53.0,SSW,9.0,1022.1
20/04/2023,7.8,18.5,0.0,SSW,17.0,12:47,12.4,72.0,NNE,7.0,1026.8,17.5,58.0,SW,4.0,1025.5
21/04/2023,11.3,19.0,0.0,SSW,13.0,10:48,14.8,78.0,NE,6.0,1030.5,18.6,64.0,SSE,2.0,1029.2
22/04/2023,14.6,19.2,0.0,SSW,22.0,16:09,15.2,84.0,SW,6.0,1031.9,18.8,64.0,SSW,11.0,1029.7
23/04/2023,14.8,19.0,0.0,SSW,26.0,15:45,16.7,79.0,SSE,7.0,1034.4,17.8,71.0,SSW,13.0,1032.4

In [98]:
#checking statistical data
weather.describe()

,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind speed (km/h),3pm MSL pressure (hPa)
count,174.000000,174.000000,174.000000,174.000000,174.00000,174.00000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000
mean,14.072414,23.121839,1.786207,34.563218,17.30000,68.66092,9.298851,1014.363218,21.546552,54.298851,13.045977,1012.819540
std,3.228188,5.419904,4.318081,9.083048,3.55235,12.42294,4.632419,7.008131,5.255205,15.155163,4.246476,6.864583
min,6.900000,13.100000,0.000000,13.000000,10.10000,32.00000,0.000000,991.300000,10.800000,16.000000,2.000000,990.300000
25%,11.700000,19.300000,0.000000,28.000000,14.90000,63.00000,7.000000,1011.100000,18.125000,44.000000,11.000000,1008.900000
50%,14.150000,21.700000,0.000000,33.000000,16.90000,68.00000,9.000000,1014.850000,20.400000,55.500000,13.000000,1012.950000
75%,16.075000,26.275000,1.400000,41.000000,18.70000,76.00000,13.000000,1018.675000,24.275000,64.750000,15.000000,1016.900000
max,25.000000,40.500000,38.400000,59.000000,29.90000,100.00000,24.000000,1034.400000,39.600000,97.000000,28.000000,1032.400000

In [99]:
# PRICE_AND_DEMAND

In [100]:
price_demand = pd.read_csv("price_and_demand.csv", header=None)
price_demand

         0                 1        2      3      4
0     VIC1    1/11/2022 0:30  4178.18   8.94  TRADE
1     VIC1    1/11/2022 1:00  4086.02   0.14  TRADE
2     VIC1    1/11/2022 1:30  4033.37   0.02  TRADE
3     VIC1    1/11/2022 2:00  3985.64   0.00  TRADE
4     VIC1    1/11/2022 2:30  3885.64   0.02  TRADE
...    ...               ...      ...    ...    ...
8347  VIC1  23/04/2023 22:00  4717.55  84.09  TRADE
8348  VIC1  23/04/2023 22:30  4520.39  81.25  TRADE
8349  VIC1  23/04/2023 23:00  4472.49  93.97  TRADE
8350  VIC1  23/04/2023 23:30  4621.36  83.96  TRADE
8351  VIC1   24/04/2023 0:00  4395.96  63.77  TRADE

[8352 rows x 5 columns]

In [101]:
# no headers, so manually inserting them based on AEMO aggregated historical data (http://surl.li/jonpt)
#original headers are 'REGION','SETTLEMENTDATE','TOTALDEMAND','RRP','PERIODTYPE'
price_demand.columns =['Region','Date_Time','Total Demand','Price_per_MW','Period_Type']
price_demand

     Region         Date_Time  Total Demand  Price_per_MW Period_Type
0      VIC1    1/11/2022 0:30       4178.18          8.94       TRADE
1      VIC1    1/11/2022 1:00       4086.02          0.14       TRADE
2      VIC1    1/11/2022 1:30       4033.37          0.02       TRADE
3      VIC1    1/11/2022 2:00       3985.64          0.00       TRADE
4      VIC1    1/11/2022 2:30       3885.64          0.02       TRADE
...     ...               ...           ...           ...         ...
8347   VIC1  23/04/2023 22:00       4717.55         84.09       TRADE
8348   VIC1  23/04/2023 22:30       4520.39         81.25       TRADE
8349   VIC1  23/04/2023 23:00       4472.49         93.97       TRADE
8350   VIC1  23/04/2023 23:30       4621.36         83.96       TRADE
8351   VIC1   24/04/2023 0:00       4395.96         63.77       TRADE

[8352 rows x 5 columns]

In [102]:
# checking missing valyes by columns
price_demand.isnull().sum()    # no missing values

Region          0
Date_Time       0
Total Demand    0
Price_per_MW    0
Period_Type     0
dtype: int64

In [103]:
#checking dtypes in each column - looks reasonable
price_demand.dtypes

Region           object
Date_Time        object
Total Demand    float64
Price_per_MW    float64
Period_Type      object
dtype: object

In [104]:
# All values in 'Region' and 'Period_Type' columns seem identical, checking this assumption
price_demand['Region'].unique()
price_demand['Period_Type'].unique()
# made a decision to drop these columns
price_demand.drop(columns=['Region', 'Period_Type'], inplace=True)
price_demand.head(5)

        Date_Time  Total Demand  Price_per_MW
0  1/11/2022 0:30       4178.18          8.94
1  1/11/2022 1:00       4086.02          0.14
2  1/11/2022 1:30       4033.37          0.02
3  1/11/2022 2:00       3985.64          0.00
4  1/11/2022 2:30       3885.64          0.02

In [105]:
# splittilg date&time into different columns and drop the original column
price_demand[['Date', 'Time']] = price_demand.Date_Time.str.split(expand = True)
price_demand.drop(columns=['Date_Time'], inplace=True)
#set the new 'Date' column as Index
price_demand = price_demand.set_index('Date')
price_demand

            Total Demand  Price_per_MW   Time
Date
1/11/2022        4178.18          8.94   0:30
1/11/2022        4086.02          0.14   1:00
1/11/2022        4033.37          0.02   1:30
1/11/2022        3985.64          0.00   2:00
1/11/2022        3885.64          0.02   2:30
...                  ...           ...    ...
23/04/2023       4717.55         84.09  22:00
23/04/2023       4520.39         81.25  22:30
23/04/2023       4472.49         93.97  23:00
23/04/2023       4621.36         83.96  23:30
24/04/2023       4395.96         63.77   0:00

[8352 rows x 3 columns]

In [106]:
# Checking the number of rows per each date
price_demand.index.value_counts()

31/01/2023    48
13/02/2023    48
19/03/2023    48
15/04/2023    48
1/03/2023     48
              ..
16/12/2022    48
27/01/2023    48
1/04/2023     48
1/11/2022     47
24/04/2023     1
Name: Date, Length: 175, dtype: int64

In [107]:
# there are 47 entries for 1/11/2022 compared to 48 on other dates 0:00 dataoint is missing, 
# so manually inserting them based on AEMO aggregated historical data (http://surl.li/jonpt)
missing_row = {"Total Demand": 4455.59, "Price_per_MW": 44.58, "Time": '0:00'}
missing_df = pd.DataFrame(missing_row, index=['1/11/2022'])
price_demand = pd.concat([missing_df, price_demand])


# also dropping row 24/04/2023 as it only has 1 value and not needed for a merge with weather df
price_demand.drop(index=['24/04/2023'], inplace=True)
price_demand.drop(columns=['Time'], inplace=True) #also removing Time column


# Finally checking the number of rows per each date
price_demand.index.value_counts()

31/01/2023    48
13/02/2023    48
19/03/2023    48
15/04/2023    48
1/03/2023     48
              ..
25/12/2022    48
16/12/2022    48
27/01/2023    48
1/04/2023     48
14/04/2023    48
Length: 174, dtype: int64

In [108]:
# Adding Max_Demand and Max_Price columns and assigning maximum value of respective columns for each date
price_demand['Max_Demand'] = price_demand.groupby(price_demand.index)['Total Demand'].transform('max')
price_demand['Max_Price'] = price_demand.groupby(price_demand.index)['Price_per_MW'].transform('max')

# Removing Total Demand and Price_per_MW as we are not going to analyze them
price_demand.drop(columns=['Total Demand', 'Price_per_MW'], inplace=True)
price_demand

            Max_Demand  Max_Price
1/11/2022      5627.52      84.06
1/11/2022      5627.52      84.06
1/11/2022      5627.52      84.06
1/11/2022      5627.52      84.06
1/11/2022      5627.52      84.06
...                ...        ...
23/04/2023     5361.47     285.16
23/04/2023     5361.47     285.16
23/04/2023     5361.47     285.16
23/04/2023     5361.47     285.16
23/04/2023     5361.47     285.16

[8352 rows x 2 columns]

In [109]:
# removing dulicate rows
price_demand.reset_index().drop_duplicates(subset='index', keep='first').set_index('index')

            Max_Demand  Max_Price
index
1/11/2022      5627.52      84.06
2/11/2022      6018.43     112.30
3/11/2022      6004.84     299.50
4/11/2022      5757.62     276.70
5/11/2022      4783.60     268.47
...                ...        ...
19/04/2023     6042.88     299.50
20/04/2023     6084.21     349.33
21/04/2023     5903.60     309.23
22/04/2023     5313.61     141.00
23/04/2023     5361.47     285.16

[174 rows x 2 columns]

MergeError: Must pass left_on or left_index=True